.account-list,
.filter-list,
.dashboard-holder .graph-list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.clearfix:after,
.dashboard-holder .three-col:after
{
    display: table;
    clear: both;

    content: '';
}

.ellipsis
{
    overflow: hidden;

    white-space: nowrap; /* 1 */
    text-overflow: ellipsis; /* 2 */
}

.btn
{
    font-size: 13px;
    font-weight: 700;

    display: inline-block;

    padding: 12px 15px;

    -webkit-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s;
    text-transform: uppercase;

    color: #fff;
    border: 0;
    border-radius: 6px;
    outline: none !important;
}

.btn-primary
{
    background: #8ec0f2;
}

.btn-primary:hover
{
    background: #1e8cf9;
}

.btn-default
{
    background: #bcbec0;
}

.btn-default:hover
{
    color: #fff;
    background: #8d8e8f;
}

.btn-blue
{
    padding: 8px 6px;

    background: #8ec0f2;
}

.btn-blue:hover
{
    color: #fff;
    background: #1e8cf9;
}

.btn-grey
{
    padding: 8px 12px;

    color: #bcbec0;
    background: #f8f8f8;
}

.btn-grey:hover
{
    color: #fff;
    background: #8d8e8f;
}

h1,
h2
{
    margin: 0;
}

.container-small
{
    max-width: 600px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

/*Start logo block*/

.logo
{
    padding-top: 60px;

    text-align: center;
}

.logo__image
{
    margin-bottom: 29px;
}

.logo__image img
{
    max-width: 200px;
    max-height: 137px;

    vertical-align: top;
}

.logo__title
{
    font-size: 39px;
    font-weight: 700;

    margin: 0 0 78px;

    text-transform: uppercase;

    color: #51526c;
}

.logo__title small
{
    font-size: 23px;
    font-weight: 400;

    display: block;

    margin-top: 9px;

    text-transform: none;

    color: inherit;
}

/*Start authorization block*/

.authorization
{
    padding-top: 12px;
}

.form-horizontal label
{
    font-weight: 400;

    padding-right: 0;
}

.form-horizontal .captcha
{
    margin-bottom: 28px;
}

.form-control
{
    height: 29px;

    border: 0;
}

.account-list
{
    font-size: 13px;

    position: relative;

    text-align: center;
}

.account-list li
{
    display: inline-block;

    margin-right: 7px;

    vertical-align: middle;
}

.account-list li:before
{
    display: inline-block;

    width: 1px;
    height: 9px;
    margin-right: 7px;

    content: '';
    vertical-align: middle;

    background: #bcc2d6;
}

.account-list li:first-child:before
{
    display: none;
}

.account-list a
{
    font-size: 10px;

    text-decoration: underline;
}

.account-list a:hover
{
    text-decoration: none;
}

/*Start Create account block*/

.create-account
{
    padding-top: 80px;
}

.create-account .title
{
    margin-bottom: 70px;
}

/*Start Verify Account block*/

.verify-account
{
    padding-top: 80px;
}

.verify-account .title
{
    margin-bottom: 70px;
}

.verify-account .text-block
{
    margin-bottom: 65px;
}

.verify-account .text-block p
{
    margin: 0 0 19px;
}

.verify-account .text-block p:last-child
{
    margin: 0;
}

.verify-account .verify-account__block
{
    padding-top: 70px;
    padding-bottom: 40px;
}

.verify-account .verify-account__block .text-block
{
    margin-bottom: 53px;
}

.verify-account .verify-account__block .btn-verify
{
    margin-bottom: 8px;
    padding-top: 40px;
}

.verify-account .btns-control .btn
{
    margin-bottom: 15px;
}

.custom-checkbox
{
    font-size: 13px;

    padding-top: 15px;
}

.custom-checkbox input[type='checkbox']
{
    position: absolute;

    visibility: hidden;
}

.custom-checkbox input[type='checkbox']:checked + label:after
{
    visibility: visible;

    opacity: 1;
}

.custom-checkbox label
{
    position: relative;

    display: inline-block;

    padding-left: 21px;

    vertical-align: middle;
}

.custom-checkbox label:before
{
    position: absolute;
    top: 50%;
    left: 0;

    display: inline-block;

    width: 13px;
    height: 13px;

    content: '';
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    vertical-align: middle;

    border: 1px solid #c0c2c4;
    background: #fff;
}

.custom-checkbox label:after
{
    position: absolute;
    top: 50%;
    left: 2px;

    visibility: hidden;

    width: 12px;
    height: 9px;
    margin-top: -2px;

    content: '';
    -webkit-transition: all .1s ease-in-out 0s;
            transition: all .1s ease-in-out 0s;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);

    opacity: 0;
    background: url(../images/icons.png) no-repeat;
    background-size: cover;
}

/*main content: dashboard*/

.main
{
    margin-right: -15px;
    margin-left: -15px;
    padding: 30px 15px;
}

.block-title
{
    margin-bottom: 43px;
}

.block-title .title
{
    margin: 0 0 37px;

    text-align: left;
}

.block-title h1
{
    font-size: 24px;

    text-align: left;

    color: #51526c;
}

.block-title h2
{
    font-size: 24px;

    color: #51526c;
}

.block-title .more-info
{
    position: relative;

    max-width: 417px;
    margin: 0 0 142px;
    padding: 26px 19px 20px 19px;

    text-align: center;

    background: #fff;
}

.block-title .more-info:before
{
    position: absolute;
    top: -16px;
    left: 50%;

    content: '';
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);

    border-right: 8px solid transparent;
    border-bottom: 16px solid #fff;
    border-left: 8px solid transparent;
}

/* Chart block*/

.graph
{
    margin: 0 12px 96px 41px;

    text-align: center;
}

.graph .graph-holder
{
    margin-bottom: 40px;
}

.graph__title
{
    margin: 0 0 20px;
}

.graph__title h2
{
    font-size: 16px;

    color: #51526c;
}

/*Side panel*/

.sidebar
{
    padding: 25px 15px;

    background: #fff;
}

.sidebar .object
{
    font-size: 16px;
    font-weight: 700;

    display: block;

    margin: 0 0 20px;

    text-transform: uppercase;
}

.sidebar .filter-list
{
    margin: 0 0 20px;
}

.filter-list li
{
    display: inline-block;

    vertical-align: top;
}

.filter-list button
{
    font-size: 12px;
    font-weight: 700;

    margin: 0 0 5px;
}

/*User panel*/

.user-block
{
    font-size: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin: 0 0 68px;

    text-align: center;
}

.user-block .text-block
{
    padding-left: 20px;
}

.user-block .name
{
    line-height: 20px;

    display: block;

    padding: 9px 0 0;
}

.user-block .account-list
{
    font-size: 11px;
    line-height: 16px;

    margin: 0;
}

/* Dashboard block*/

.dashboard-block
{
    position: relative;

    margin-bottom: 50px;
}

.dashboard-block .close
{
    position: absolute;
    top: 18px;
    right: 15px;

    width: 32px;
    height: 32px;

    -webkit-transition: all .2s ease-in-out 0s;
            transition: all .2s ease-in-out 0s;

    opacity: .3;
}

.dashboard-block .close:hover
{
    opacity: 1;
}

.dashboard-block .close:before,
.dashboard-block .close:after
{
    position: absolute;
    left: 15px;

    width: 2px;
    height: 23px;

    content: ' ';

    background-color: #333;
}

.dashboard-block .close:before
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.dashboard-block .close:after
{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.dashboard-holder
{
    position: relative;

    margin: 0 67px 0 55px;
    padding: 20px 15px 86px 30px;

    text-align: left;

    border: 2px solid #d0d2d3;
    background: #fff;
}

.dashboard-holder .object,
.dashboard-holder .object-list
{
    font-size: 18px;

    display: inline-block;

    margin: 0 0 15px 12px;

    text-transform: uppercase;
}

.dashboard-holder .object
{
    font-size: 20px;
}

.dashboard-holder .select-period
{
    font-size: 18px;

    position: relative;

    display: inline-block;
    overflow: hidden;

    margin-bottom: 45px;
}

.dashboard-holder .select-period select
{
    font-size: 20px;
    font-weight: 700;

    width: 115%;

    text-transform: uppercase;

    border: 0;
    background: none;
}

.dashboard-holder .select-period:before
{
    position: absolute;
    top: 50%;
    right: 0;

    content: '';
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    pointer-events: none;

    border-top: 8px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.dashboard-holder .object-list
{
    margin: 0 0 5px;
    padding: 0 0 0 23px;
}

.dashboard-holder .number-graph
{
    font-size: 23px;

    color: #51526c;
}

.dashboard-holder .three-col
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-bottom: 20px;
    padding-top: 66px;

    text-align: center;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.dashboard-holder .three-col .object
{
    margin-right: 40px;
}

.dashboard-holder .three-col .graph-holder
{
    margin-bottom: 40px;
}

.dashboard-holder .graph-list
{
    min-width: 120px;

    text-align: left;
}

.dashboard-holder .graph-list li
{
    font-weight: 700;

    position: relative;

    margin-bottom: 17px;
    padding-left: 34px;

    text-transform: uppercase;
}

.dashboard-holder .graph-list li:before
{
    position: absolute;
    top: 8px;
    left: -3px;

    width: 24px;
    height: 4px;

    content: '';

    background: #8de3dc;
}

.dashboard-holder .graph-list li:nth-child(2):before
{
    background: #f4b5a2;
}

.dashboard-holder .graph-list li:nth-child(3):before
{
    background: #f49db7;
}

.dashboard-info
{
    padding-top: 76px;
    padding-bottom: 50px;
}

.dashboard-info .btn
{
    min-width: 104px;
    margin: 0 3px 15px;
}

.dashboard-info .btn.active-tab
{
    min-width: 196px;
    margin-bottom: 36px;
}

.dashboard-info .text-block
{
    padding-top: 60px;
    padding-bottom: 20px;
}

.settings-form
{
    max-width: 540px;
    margin: 0 auto;
}

.settings-form .form-group--alt
{
    padding-top: 40px;
    padding-bottom: 40px;
}

@media (min-width: 768px)
{
    .graph .graph-holder
    {
        margin-bottom: 0;
    }

    .dashboard-block
    {
        margin-bottom: 100px;
    }

    .dashboard-holder .three-col .graph-holder
    {
        margin-right: 70px;
    }
}

@media (min-width: 992px)
{
    .dashboard-container
    {
        padding-left: 282px;
    }

    .main
    {
        padding: 47px 48px;
    }

    .sidebar
    {
        position: fixed;
        top: 0;
        left: 0;

        overflow: auto;

        width: 282px;
        height: 100vh;
        padding: 38px 30px 30px 35px;
    }

    .dashboard-info
    {
        max-width: 580px;
        margin: 0 auto;
    }
}

@media (min-width: 1550px)
{
    .dashboard-holder .three-col .graph-holder
    {
        min-width: 500px;
        margin-bottom: 0;
    }
}

@media (max-width: 767px)
{
    .dashboard-holder .three-col
    {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
}

