.btn {
	@include anim;
	display: inline-block;
	padding: 12px 15px;
	border-radius: 6px;
	border: 0;
	text-transform: uppercase;
	color: $white;
	font-size: 13px;
	font-weight: 700;
	outline: none !important;
}

.btn-primary {
	background: $blue;
	&:hover {
		background: #1e8cf9;
	}
}
.btn-default {
	background: #bcbec0;
	&:hover {
		background: #8d8e8f;
		color: #fff;
	}
}
.btn-sidebar-blue {
	background: $blue;
	&:hover {
		background: #1e8cf9;
		color: #fff;
	}
}
.btn-sidebar-grey {
	color: #bcbec0;
	background: #f8f8f8;
	&:hover {
		background: #8d8e8f;
		color: #fff;
	}
}