
$breakpoints: (
	'screen-xs': 480px,
	'screen-sm': 768px,
	'screen-md': 992px,
	'screen-lg': 1200px
);
// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'base/include-media';

@import "bootstrap-custom";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@import "buttons";


h1,h2{margin: 0; font-weight: 700;}

.container-small {
	max-width: 600px;
	margin: 0 auto;
}

.logo-block {
	padding: 60px 0 0;
	text-align: center;
	.logo {
		margin: 0 0 30px;
		img {
			vertical-align: top;
			max-width: 200px;
			max-height: 137px;
		}
	}
	.title-logo {
		font-size: $font-size-h1;
		text-transform: uppercase;
		margin: 0 0 11px;
		h1 {
			color: $text-color;
			font-size: $font-size-h1;
		}
	}
}
.title {
	text-align: center;
	margin: 0 0 78px;
	h2 {
		color: $text-color;
		font-size: $font-size-h2;
		font-weight: 400;
	}
}
.authorization-block {
	padding: 89px 0 0;
}
.form-horizontal {
	.form-group {
		margin-bottom: 11px; 
	}
	.input-holder {
		max-width: 245px;
	}
	.label-holder {
		margin: 0 0 0 36px;
	}
	label {
		font-weight: 400;
		padding-right: 0;
	}
	input {
		border: none;
	}
	.btn-create {
		padding: 96px 0 0;
	}
	button {
		margin: 0 0 0 50px;
	}
}

.account-list {
	@extend %listreset;
	position: relative;
	font-size: 13px;
	margin: 0 0 0 36px;
	li {
		margin: 0 7px 0 0;
		display: inline-block;
		vertical-align: top;
		&:before {
			content: '';
			position: absolute;
			top: 7px;
			left: 35.5%;
			width: 1px;
			height: 9px;
			background: #bcc2d6;
		}
	}
	a {
		font-size: 10px;
		font-weight: 700;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.create-account-block {
	padding: 80px 0 0;
	.title {
		margin: 0 0 70px;
	}
}

.verify-account-block {
	padding: 80px 0 0;
	.title {
		margin: 0 0 70px;
	}
	.text-block {
		margin: 0 0 65px;
		p {
			display: block;
			margin: 0 0 19px;
			&:last-child {
				margin: 0;
			}
		}
	}
	.checkbox {
		font-size: 11px;
		input[type="checkbox"] {
			top: 3px;
		}
	}
	.block-alt {
		padding: 80px 0 40px;
		.text-block {
			text-align: center;
			margin: 0 0 53px;
		}
		.btn-verify {
			padding: 40px 0 0 0;
			margin-bottom: 8px;
		}
		.checkbox {
			margin: 0 0 0 36px;
		}
	}
}

.sidebar {
	padding: 30px 30px 0;
	background: $white;
	.sidebar-block {
		margin: 0 0 410px;
		&:nth-child(2) {
			margin: 0 0 100px;
		}
	}
	.user-block {
		font-size: 0;
		margin: 0 0 80px;
	}
	.img-holder,
	.text-block {
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		text-align: center;
	}
	.text-block {
		padding: 0 0 0 25px;
	}
	.name {
		display: block;
		line-height: 30px;

	}
	.account-list {
		font-size: 11px;
		line-height: 16px;

		&:before {
			left: 48.5%;
		}
	}
	.object {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		margin: 0 0 20px;
	}
	.list-button {
		@extend %listreset;
		li {
			display: inline-block;
			vertical-align: top;
		}
		button {
			margin: 0 0 5px;
			font-weight: 700;
			font-size: 12px;
		}
	}
}

.main {
	padding: 30px 0 0 30px;
	.title-block {
		margin: 0 0 50px;
		h1 {
			font-size: 20px;
			color: $purple;
			margin: 0 0 30px;
			text-align: left;
		}
	}
	.more-info {
		position: relative;
		max-width: 345px;
		text-align: center;
		padding: 20px;
		background: $white;
		margin: 0 0 50px;
		&:before {
			content: '';
			position: absolute;
			top: -16px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 16px solid #fff;
		}
	}
	.graph-block {
		text-align: center;
		margin: 0 0 150px;
	}
	.title-graph {
		margin: 0 0 20px;
		h2 {
			color: $purple;
			font-size: 16px;
		}

	}
}