
$breakpoints: (
	'screen-xs': 480px,
	'screen-sm': 768px,
	'screen-md': 992px,
	'screen-lg': 1550px
);
// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'base/include-media';

@import "bootstrap-custom";
@import "bootstrap/variables";
@import "bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@import "buttons";


h1,h2{margin: 0;}

.container-small {
	max-width: 600px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/*Start logo block*/
.logo {
	padding-top: 60px;
	text-align: center;
	&__image {
		margin-bottom: 29px;
		img {
			vertical-align: top;
			max-width: 200px;
			max-height: 137px;
		}
	}
	&__title {
		color: $text-color;
		font-size: $font-size-h1;
		text-transform: uppercase;
		margin: 0 0 78px;
		font-weight: 700;
		small {
			text-transform: none;
			font-size: $font-size-h2;
			font-weight: 400;
			display: block;
			margin-top: 9px;
			color: inherit;
		}
	}
}

/*Start authorization block*/
.authorization {
	padding-top: 12px;
}
.form-horizontal {
	label {
		font-weight: 400;
		padding-right: 0;
	}
	.captcha {
		margin-bottom: 28px;
	}
}
.form-control {
	border: 0;
	height: 29px;
}

.account-list {
	@extend %listreset;
	position: relative;
	font-size: 13px;
	text-align: center;
	li {
		margin-right: 7px;
		display: inline-block;
		vertical-align: middle;
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-right: 7px;
			width: 1px;
			height: 9px;
			background: #bcc2d6;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
	}
	a {
		font-size: 10px;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

/*Start Create account block*/
.create-account {
	padding-top: 80px;
	.title {
		margin-bottom: 70px;
	}
}

/*Start Verify Account block*/
.verify-account {
	padding-top: 80px;
	.title {
		margin-bottom: 70px;
	}
	.text-block {
		margin-bottom: 65px;
		p {
			margin: 0 0 19px;
			&:last-child {
				margin: 0;
			}
		}
	}
	.verify-account__block {
		padding-top: 70px;
		padding-bottom: 40px;
		.text-block {
			margin-bottom: 53px;
		}
		.btn-verify {
			padding-top: 40px;
			margin-bottom: 8px;
		}
	}
	.btns-control {
		.btn{
			margin-bottom: 15px;
		}
	}
}

.custom-checkbox {
	padding-top: 15px;
	font-size: 11px;
	input[type="checkbox"] {
		position: absolute;
		visibility: hidden;
		&:checked + label {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	label {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		padding-left: 21px;
		&:before {
			@include ycenter;
			content: '';
			width: 10px;
			height: 10px;
			left: 0;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid #c0c2c4;
		}
		&:after {
			@include ycenter;
			@include anim($dur: .1s);
			content: '';
			visibility: hidden;
			opacity: 0;
			background: url(../images/icons.png) no-repeat;
			background-size: cover;
			width: 9px;
			height: 7px;
			left: 2px;
			margin-top: -2px;
		}
	}
}
/*Side panel*/
.sidebar {
	position: fixed;
	background: $white;
	max-height: 100vh;
	overflow: auto;
	.sidebar-block {
		padding: 30px 10px 0;
	}
	.user-block {
		font-size: 0;
		margin: 0 0 80px;
		text-align: center;
		@include media('>=1550px') {
			text-align: left;
		}
	}
	.img-holder,
	.text-block {
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
		text-align: center;
	}
	.text-block {
		padding: 0;
		display: block;
		@include media('>=1550px') {
			padding: 0 0 0 25px;
		}
	}
	.name {
		display: block;
		line-height: 30px;

	}
	.account-list {
		font-size: 0;
		line-height: 16px;
		margin: 0;
		&:before {
			left: 48.5%;
		}
		a {
			font-size: 11px;
		}
	}
	.object {
		display: block;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 18px;
		margin: 0 0 20px;
	}
	.list-button {
		margin: 0 0 20px;
		@extend %listreset;
		li {
			display: inline-block;
			vertical-align: top;
		}
		button {
			margin: 0 0 5px;
			font-weight: 700;
			font-size: 12px;
		}
	}
}

/*main content*/

.main {
	padding: 30px 0 0 35px;
	.title-block {
		display: block;
		margin: 0 0 50px;
	}
	.title {
		text-align: left;
		margin: 0 0 30px;
		h1 {
			font-size: 20px;
			color: $text-color;
			text-align: left;
		}
	}
	.more-info {
		position: relative;
		max-width: 345px;
		text-align: center;
		padding: 20px;
		background: $white;
		margin: 0 0 50px;
		&:before {
			content: '';
			position: absolute;
			top: -16px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-bottom: 16px solid #fff;
		}
	}
	.graph-block,
	.dashboard-block {
		text-align: center;
		margin: 0 0 100px;
	}
	.dashboard-block {
		position: relative;
		.close{
			position: absolute;
			right: 32px;
			top: 32px;
			width: 32px;
			height: 32px;
			opacity: 0.3;
			&:hover {
				opacity: 1;
			}
			&:before,
			&:after {
				content: ' ';
				position: absolute;
				left: 15px;
				height: 33px;
				width: 2px;
				background-color: #333;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
	.title-graph {
		margin: 0 0 20px;
		h2 {
			color: $text-color;
			font-size: 16px;
		}
	}
}

.dashboard-holder {
	padding: 15px 15px 30px 30px;
	background: $white;
	border-radius: 1px solid #d0d2d3;
	text-align: left;
	.object,
	.object-alt,
	.object-list {
		display: inline-block;
		text-transform: uppercase;
		font-size: 18px;
		margin: 0 0 15px;
	}
	.object-alt {
		position: relative;
		&:before {
			content: '';
			@include ycenter;
			right: -15px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 8px solid #000;
		}
	}
	.object-list {
		padding: 0 0 0 23px;
		margin: 0 0 5px;
	}
	.number-graph {
		font-size: 18px;
		color: $text-color;
	}
	.three-col {
		@extend %clearfix;
		padding: 100px 0 0;
		margin: 0 0 15px;
	}
	.col {
		padding: 80px 15px 0;
		text-align: center;
	}
	.graph-list {
		@extend %listreset;
		text-align: left;
		li {
			position: relative;
			margin: 0 0 15px;
			text-transform: uppercase;
			font-weight: 700;
			&:before {
				content: '';
				position: absolute;
				top: 7px;
				left: -27px;
				width: 20px;
				height: 4px;
				background: #8de3dc;
			}
			&:nth-child(2) {
				&:before {
					background: #f4b5a2;
				}
			}
			&:nth-child(3) {
				&:before {
					background: #f49db7;
				}
			}
		}
	}
	.btn-box{
		padding: 70px 0 50px;
		.btn-vpi {
			padding: 0 0 15px;
		}
		.text-block {
			padding: 60px 0 20px;
		}
	}
}